* {
    box-sizing: border-box;
    font-weight: 100;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

/************************************************************************************************/

.menu_container {
    height: 3rem;
    display: flex;
    border-bottom: 1px solid gray;
}

.menu_container > * {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    align-items: center;
    width: 16.67%;
    justify-content: space-evenly;
    display: flex;
}

.new_open_save_container {
    width: 19rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-right: 1px solid gray;
}

.fontStyle_container, .textAlignment_container {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.fontFamily_container {
    border-right: 1px solid gray;
}

.fontStyle_container {
    border-right: 1px solid gray;
}

.fontSize_container {
    border-right: 1px solid gray;
    width: 7rem;
}

.textAlignment_container {
    border-right: 1px solid gray;
}

.new_open_save_container > *, .fontStyle_container > *, .textAlignment_container > *, .colorFill_container > * {
    height : 90%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

.selected {
    box-shadow : 2px 2px 13px #b8b8b8;
    border: 1px solid #2f3542;
}

.fas {
    color: #2f3542;
}

.colorFill_container > * > *, .new_open_save_container > * > * {
    font-size: 1.4rem;
}

.font_size {
    width: 3rem;
    outline: none;
    border: none;
}

.font_family {
    outline: none;
    border: none;
}

/************************************************************************************************/

.formula_container {
    height: 2rem;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
}

.formula_container > * {
    height: 70%;
    display: flex;
    border-right: 1px solid gray;
}

.formula_box {
    border-right: none;
    width: 100%;
}

.address, .formula {
    width: 100%;
    border: none;
    outline: none;
}

.fx_image {
    padding-left: 1rem;
    padding-right: 0.3rem;
    height: 60%;
}

.address {
    width: 4rem;
    text-align: center;
}

/************************************************************************************************/

.grid_container {
    height: calc(100vh - 2.5rem - 5rem - 2rem);
    overflow: scroll;
}

.top_row {
    display: flex;
    height: 1.4rem;
}

.corner_box {
    height: 1.4rem;
    min-width: 2rem;
    border-right: 5px solid lightgray;
    border-bottom: 5px solid lightgray;
}

.alphabetic_heading_row {
    height: 1.4rem;
    width: 100%;
    display: flex;
}

.alphabetic_cell {
    height: 1.4rem;
    min-width: 5rem;
    text-align: center;
    font-size: 0.7rem;
    padding-top: .21rem;
    border-left: 0.1px solid gray;
    border-top: 0.1px solid gray;
    border-bottom: 0.1px solid gray;
    background-color: #f1f2f6;
}

.rest_row {
    display: flex;
}

.numbering_cell {
    height: 1.4rem;
    width: 2.05rem;
    text-align: center;
    font-size: 0.7rem;
    padding-top: .21rem;
    border-left: 0.1px solid gray;
    border-bottom: 0.1px solid gray;
    border-right: 0.1px solid gray;
    background-color: #f1f2f6;
}

.cell_row {
    display: flex;
}

.proper_cell {
    height: 1.4rem;
    width: 5rem;
    border-bottom: 0.02px solid rgb(160, 158, 158);
    border-right: 0.02px solid rgb(160, 158, 158);
    outline-color:green;
}

/************************************************************************************************/

.sheet_container {
    height: 2.5rem;
    background-color: rgb(141, 141, 141);
}

/************************************************************************************************/

.open_file {
    display: none;
}